<div id="<%= dom_id invoice %>">
  <p>
    <strong>Serial number:</strong>
    <%= invoice.serial_number %>
  </p>

  <p>
    <strong>Invoice number:</strong>
    <%= invoice.invoice_number %>
  </p>

  <p>
    <strong>Emission date:</strong>
    <%= invoice.emission_date %>
  </p>

  <p>
    <strong>Issuing company:</strong>
    <%= invoice.issuing_company_id %>
  </p>

  <p>
    <strong>Recipient company:</strong>
    <%= invoice.recipient_company_id %>
  </p>

</div>
