<div class="container-fluid mt-4">
  
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <h1>Notas Fiscais</h1>

  <div class="row mb-3">
    <div class="col-md-4">
      <%= form_with url: invoices_path, method: :get, local: true do |form| %>
        <div class="input-group">
          <%= form.text_field :search, class: "form-control", placeholder: "Buscar Notas Fiscais..." %>
          <div class="input-group-append">
            <%= form.submit "Buscar", class: "btn btn-outline-secondary" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-8 text-end">
      <%= link_to "Importar Nota Fiscal", new_invoice_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Número de Série</th>
          <th>Número da Nota Fiscal</th>
          <th>Data de Emissão</th>
          <th>Empresa Emitente</th>
          <th>Empresa Receptora</th>
          <th>Quantidade de produtos</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @invoices.each do |invoice| %>
          <tr>
            <td><%= invoice.serial_number %></td>
            <td><%= invoice.invoice_number %></td>
            <td><%= invoice.emission_date %></td>
            <td><%= invoice.issuing_name %></td>
            <td><%= invoice.recipient_name %></td>
            <td><%= invoice.products_quantity %></td>
            <td>
              <%= link_to "Mostrar", invoice, class: "btn btn-info btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
