<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(user.errors.count, "erro") %> impediram o usuário de ser salvo:</h4>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :username, class: "form-label" %>
    <%= form.text_field :username, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control", required: true %>
  </div>

  <div class="d-grid">
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
