<div class="container mt-3">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="d-flex justify-content-between m-3">
    <%= link_to "Editar esse usuário", edit_user_path(@user), class: "btn btn-primary" %>
    <%= link_to "Voltar para listagem de usuários", users_path, class: "btn btn-secondary" %>
    <%= button_to "Destruir esse usuário", @user, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
  </div>
  
  <div class="card mb-3">
    <div class="card-body">
      <%= render @user %>
    </div>
  </div>
</div>
