<h1>Login</h1>

<%= form_with url: login_path, method: :post, authenticity_token: false do |form| %>
  <div>
    <%= form.label :username, "Usuário" %>
    <%= form.text_field :username, required: true, autofocus: true %>
  </div>

  <div>
    <%= form.label :password_digest, "Senha" %>
    <%= form.password_field :password_digest, required: true %>
  </div>

  <div>
    <%= form.submit "Login" %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div style="color: red;">
    <%= flash[:notice] %>
  </div>
<% end %>


<%= link_to "Cadastrar", new_user_path %>
